<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="PreviewClickDemo.Properties.Settings.nwindConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\nwind.mdb" providerName="System.Data.OleDb" />
    <add name="NWindEntities" connectionString="metadata=res://*/NWind.csdl|res://*/NWind.ssdl|res://*/NWind.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KALASHNIKOV-SV;attachdbfilename=|DataDirectory|\NWind.mdf;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>